# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.classpath
.DS_Store
.idea/
*.iml
data
logs
target
.vscode/
.settings/
.git/
.project
.factorypath
zlt-uaa/.factorypath
zlt-gateway/sc-gateway/.factorypath
zlt-commons/zlt-auth-client-spring-boot-starter/.factorypath
