<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.backstage.mapper.UserCompAdminMapper">
    <select id="findList" resultType="com.central.backstage.model.UserCompAdmin">
        select * from sys_user_comp_admin t
    </select>
</mapper>