<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.backstage.mapper.UserCompLegpersMapper">
    <select id="findList" resultType="com.central.backstage.model.UserCompLegpers">
        select * from sys_user_comp_legpers t
    </select>
    <select id="findUserById"  resultType="com.central.backstage.model.UserCompLegpers">
        select * from sys_user_comp_legpers t where comp_id=#{id}
    </select>
    <insert id="saveAdd">
        insert into sys_user_comp_legpers (id,name,comp_id) values(#{id},#{name},#{compId})
    </insert>
</mapper>
