<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.finance.mapper.FinanceProductMapper">
    <select id="findList" resultType="com.central.finance.model.FinanceProduct">
        select * from prod_finance_product t
    </select>
    <select id="findUserById" resultType="com.central.finance.model.FinanceProduct">
        select * from prod_finance_product t where t.id=#{id}
    </select>
    <insert id="saveAdd" parameterType="com.central.finance.model.FinanceProduct">
        insert into prod_finance_product
        (id,comp_id,type,name,feature,loan_period,loan_rate_range,gua_mode,repay_mode,serv_area,comp_name)
        values (#{id},#{compId},#{type},#{name},#{feature},#{loanPeriod},#{loanRateRange},#{guaMode},#{repayMode},#{servArea},#{compName})
    </insert>
</mapper>
